.page {
        height: 700pt;
        width: 480pt;
        margin: 0;
        padding: 0;
}

body, table {
		font-size: 8pt;
        margin-left: 0;
}

.order {
		font-family: Verdana, Tahoma, Arial;
		width: 220pt;
		border: 1pt solid #cccccc;
		padding: 12px;
		float:left; display: inline; *margin-left:-0.04em;
		page-break-inside: avoid;
}

.order_name {
		float: right;
}

.order_due {
		float: left;
}

.order_entries table {
		width: 100%;
		border-collapse: collapse;
		border: 1pt solid #888888;
}

.order_entries td, .order_entries th {
		border: 1pt solid #888888;
		padding: 3pt;
}

.order_entries .col10 {
		width: 10%;
}

.order_entries .col30 {
		width: 30%;
}

.order_entries .col40 {
		width: 40%;
}

.order_entries .left {
		text-align: left;
}

.order_entries .center {
		text-align: center;
}

.order_header {
		height: 25pt;
}
